* {
  box-sizing: border-box;
  font-family: "Josefin sans";
  text-decoration: none;
  list-style: none;
}
:focus {
  outline: none;
}
body {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  display: fixed;
  width: 25%;
  height: 40%;
  background-color: whitesmoke;
  border: 1px black solid;
  border-radius: 5px;
}
.content {
  height: 100%;
  margin: 0 1rem 0 1rem;
}
.header {
  height: 15%;
  position: relative;
  display: block;
  margin-top: 5px;
}
.header p {
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900px;
  letter-spacing: 5px;
  padding: 3%;
  color: teal;
}
.text {
  font-size: 13px;
  color: #d93025;
}
.checkbox__button {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 10px;
  cursor: pointer;
}
.sub-content a {
  color: black;
}
.sub-content p {
  margin: 0;
  display: hidden;
}
.sub-content button {
  background-color: #12de9c;
  border: none;
  height: 3rem;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-size: 22px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 10px;
}
a {
  color: black;
}
.input-content {
  position: relative;
  width: 100%;
  margin-top: 15px;
}
.input-content input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px grey solid;
  transition: 100ms ease;
  font-size: 15px;
}
.form:focus {
  border-color: #1a73e8;
}
.input-content p {
  position: absolute;
  left: 10px;
  top: 10px;
  user-select: none;
  pointer-events: none;
  transition: 100ms ease;
  opacity: 70%;
}

.form:not(:placeholder-shown) + .form-label,
.form:focus + .form-label {
  color: #1a73e8;
  top: -10px;
  padding: 3px;
  background-color: white;
  display: block;
  font-size: 14px;
  transition: 100ms ease;
  opacity: 1;
}

.form:not(:focus) + .form-label {
  color: #5f6371;
}
